{% raw %}
<form action="{% endraw %}{{ routes.search_url }}{% raw %}" method="get" role="search">
    <div class="gf-form-inner">
        {% assign next_select_show_values = false %}
        {% for filter in filters %}
        {% assign filter_label = filter.label | escape %}
        {% if translation.labels and translation.labels[filter.id] %}
        {% assign filter_label = translation.labels[filter.id] | escape %}
        {% endif %}
        <div class="gf-form-input-wrapper">
          <div class="gf-form-input-inner">
            <label for="gff_{{filter.id | escape}}">
              <span>{{filter_label}}</span>
              {% if filter.help %}
              <span class="gf-tooltip-trigger" aria-hidden="true">?</span>
              <div class="gf-tooltip"><div class="gf-tooltip-content" >{{filter.help | newline_to_br}}</div></div>
              {% endif %}
            </label>
            <select{% unless forloop.last %} onchange="toggleFormValue({{filter.id | escape}}, this.value)"{% endunless %} class="gf-form-select" id="gff_{{filter.id | escape}}" name="gff_{{filter.id | escape}}"{% unless filter.is_selected or forloop.first or next_select_show_values %}disabled{% endunless %}>
              <option value="">{{ translation.form.select | default: '-- Select --' }}</option>
              {% if filter.is_selected or forloop.first or next_select_show_values %}
              {% for value in filter.values %}
              <option{% if value.selected %} selected{% endif %} value="{{value.value | escape}}">{{value.label | escape}}</option>
              {% endfor %}
              {% endif %}
            </select>
          </div>
        </div>
        {% if filter.is_selected %}{% assign next_select_show_values = true %}{% else %}{% assign next_select_show_values = false %}{% endif %}
        {% endfor %}
                <div class="gf-form-input-wrapper">
          <div class="gf-form-input-inner">
            <div class="gf-form-button-group">
                            <button type="submit" class="spf-btn">{{translation.form.submit | default: 'Search'}}</button>
            </div>
          </div>
        </div>
        <div class="gf-form-input-wrapper"></div>
        <div class="gf-form-input-wrapper"></div>
    </div>
</form>
{% endraw %}