{% raw %}
{% assign ready_to_ship_label = translation.filter.ready_to_ship | default: "Ready to ship" %}
{% assign in_stock_label      = translation.filter.in_stock | default: "In Stock" %}
{% assign out_of_stock_label  = translation.filter.out_of_stock | default: "Out of Stock" %}
<div class="gf-filter-header">
  <div class="gf-filter-heading">{{translation.filter.filter_by | default: "Filter by"}}</div>
  <span onclick="globofilter.toggleCanvas()" class="gf-close-canvas"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M11.414 10l6.293-6.293a1 1 0 10-1.414-1.414L10 8.586 3.707 2.293a1 1 0 00-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 101.414 1.414L10 11.414l6.293 6.293A.998.998 0 0018 17a.999.999 0 00-.293-.707L11.414 10z" fill="#5C5F62"></path></svg></span>
</div>
{% assign selected_html = '' %}
{% capture filter_tree_html %}
  {% if filters %}
    {% for filter in filters %}

      {% assign filter_label = filter.label | escape %}
      {% if translation.labels and translation.labels[filter.id] %}
      {% assign filter_label = translation.labels[filter.id] | escape %}
      {% endif %}

      {% if filter.is_selected and filter.style == 'Slider' %}
        {% capture selected_item_html %}
          <div class="selected-item gf-option-label">
            <a onclick="removeFilter({{filter.id}})">
              <span  class="selected-item">
                <span class="hidden-xs">{{filter_label}}</span>
                <strong>
                  {% if filter.attribute == 'Price' %}
                    <span class="money">{{filter.values.min | money}}</span> - <span class="money">{{filter.values.max | money}}</span>
                  {% elsif filter.attribute == 'Percent Sale' %}
                    {{filter.values.min}}% - {{filter.values.max}}%
                  {% else %}
                    {{filter.values.min}} - {{filter.values.max}}
                  {% endif %}
                </strong>
              </span>
              <span class="gf-clear"></span>
            </a>
          </div>
        {% endcapture %}
        {% assign selected_html = selected_html | append: selected_item_html %}
      {% endif %}
        <div data-filter-type="{{filter.attribute | replace: 'option:', ''}}" data-filter-id="{{filter.id}}" class="gf-option-block {{filter.class}}{% if filter.is_collapse %} is-collapsed{% endif %}">
      <div class="gf-block-title">
        <div class="h3">
          <span>{{filter_label}}</span>
          {% if filter.help %}
          <span class="gf-tooltip-trigger" aria-hidden="true">?</span>
          <div class="gf-tooltip"><div class="gf-tooltip-content" >{{filter.help | newline_to_br}}</div></div>
          {% endif %}
        </div>
        
        {% if filter.is_selected %}
        <a class="gf-clear" onclick="removeFilter({{filter.id}})">{{ translation.filter.clear | default: "Clear"}}</a>
        {% endif %}
      </div>
      <div class="gf-block-content">
        {% if filter.searchable and filter.style != 'Slider' %}<input type="text" placeholder="{{ translation.filter.search | default: "Search options"}}" value="" onkeyup="globofilter.searchValues(this);" class="gf-search">{% endif %}
        {% assign values_count = 0 %}
        {% if filter.values %}{% assign values_count = filter.values | size %}{% endif %}

        <div class="gf-scroll {% if filter.style != 'Select' and filter.style != 'Slider' and values_count > 10 %}gf-block-scroll{% endif %}">
          {% if filter.style == 'Slider' %}
          <div class="gf-range-inputs">
            <input 
              class="gf-range-min" 
              id="min-{{filter.id}}" 
              data-value="{{filter.values.min}}" 
              data-min-value="{% if filter.attribute == 'Price' %}{{filter.ranges.min | money_without_format}}{% else %}{{filter.ranges.min}}{% endif %}" 
              value="{% if filter.attribute == 'Price' %}{{filter.values.min | money_without_format}}{% else %}{{filter.values.min}}{% endif %}" 
              type="text" 
              aria-label="Min value"
            />
            <span class="gf-range-split"> - </span>
            <input
              class="gf-range-max"
              id="max-{{filter.id}}"
              data-value="{{filter.values.max}}"
              data-max-value="{% if filter.attribute == 'Price' %}{{filter.ranges.max | money_without_format}}{% else %}{{filter.ranges.max}}{% endif %}" 
              value="{% if filter.attribute == 'Price' %}{{filter.values.max | money_without_format}}{% else %}{{filter.values.max}}{% endif %}" 
              type="text" 
              aria-label="Max value"
            />
          </div>
          <div class="gf-range-slider" data-min="{{filter.ranges.min}}" data-max="{{filter.ranges.max}}" aria-label="{% if translation.labels and translation.labels[filter.id] %}{{translation.labels[filter.id]}}{% else %}{{filter.label}}{% endif %}" data-id="{{filter.id}}" data-attribute="{{filter.id}}" id="slider-{{filter.id}}"></div>
          {% elsif filter.style == 'Select' %}
          <select onchange="toggleRadioFilter({{filter.id}}, this.value)">
            <option value="">{{ translation.filter.choose_values | default: "Choose values"}}</option>
            {% for value in filter.values %}
              {% if filter.attribute == 'Ready to ship' %}
              {% assign value_label = ready_to_ship_label %}
            {% elsif filter.attribute == 'Availability' %}
              {% if value.value == 1 %}
                {% assign value_label = in_stock_label %}
              {% elsif value.value == 0 %}
                {% assign value_label = out_of_stock_label %}
              {% endif %}
            {% else %}
              {% assign value_label = value.label | escape %}
            {% endif %}
            {% if value.selected %}
              {% capture selected_item_html %}
                <div class="selected-item gf-option-label">
                  <a onclick="removeFilterValue({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                    <span class="selected-item">
                      <span class="hidden-xs">{{filter_label}}</span>
                      <strong>
                        {% if filter.style == 'Rating' %}
                        <span class="gf-label gf-stars">
                          {% for star in (1..5) %}
                            {% if star <= value.value %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.71 15.116l3.357-1.658.892.452 2.327 1.178-.56-3.912.708-.707 1.29-1.29-3.235-.576-.445-.915-1.059-2.176L8.4 8.683l-1.005.168-2.098.35 1.975 1.975-.141.99-.422 2.95zM5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                            {% endif %}
                          {% endfor %}
                        </span>
                        {% else %}
                        <span class="gf-label">{{value_label}}</span>
                        {% endif %}
                      </strong>
                    </span>
                    <span class="gf-clear"></span>
                  </a>
                </div>
              {% endcapture %}
              {% assign selected_html = selected_html | append: selected_item_html %}
            {% endif %}
            <option {% if value.selected %}selected="selected"{% endif %} value='{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}'>
                {{value_label}} ({{value.count}})            </option>
            {% endfor %}
          </select>
          {% else %}
          <ul class="gf-option-box">
            {% if filter.attribute == 'Collection' %}
              {% assign collection_id = {% endraw %}{{collection.id | default: 0}}{% raw %} %}
              {% if filter.tree %}
                {% for node in filter.tree %}

                  {% if node.selected %}
                    {% capture selected_item_html %}
                      <div class="selected-item gf-option-label">
                        <a onclick="removeFilterValue({{filter.id}},'{{node.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                          <span class="selected-item">
                            <span class="hidden-xs">{{filter_label}}</span>
                            <strong>
                              <span class="gf-label">{{node.label}}</span>
                            </strong>
                          </span>
                          <span class="gf-clear"></span>
                        </a>
                      </div>
                    {% endcapture %}
                    {% assign selected_html = selected_html | append: selected_item_html %}
                  {% endif %}

                  <li data-collection="{{node.value}}"{% if node.is_collapse %} class="is-collapsed"{% endif %}>
                    <div>
                    {% if filter.style == 'Checkbox' %}
                      <a {% if node.selected or node.value == collection_id %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{node.value}}')" title="{{node.label | escape}}">
                        <span class="gf-Checkbox"></span>
                        <span class="gf-label">{{node.label | escape}}</span>
                        <span class="gf-count">({{node.count}})</span>                      </a>
                    {% elsif filter.style == 'Radio' %}
                      <a {% if node.selected or node.value == collection_id %} class="checked"{% endif %} onclick="toggleRadioFilter({{filter.id}},'{{node.value}}')" title="{{node.label | escape}}">
                        <span class="gf-RadioButton"></span>
                        <span class="gf-label">{{node.label | escape}}</span>
                        <span class="gf-count">({{node.count}})</span>                      </a>
                    {% elsif filter.style == 'Collection' %}
                      <a {% if node.selected or node.value == collection_id %} class="checked"{% endif %} onclick="changeCollection('{{node.handle}}')" title="{{node.label | escape}}">
                        <span class="gf-label">{{node.label | escape}}</span>
                        <span class="gf-count">({{node.count}})</span>                      </a>
                    {% endif %}
                    {% if node.children %}<span></span>{% endif %}
                    </div>
                    {% if node.children %}
                    <ul{% if node.is_collapse %} style="display:none"{% endif %}>
                      {% for child in node.children %}

                        {% if child.selected %}
                          {% capture selected_item_html %}
                            <div class="selected-item gf-option-label">
                              <a onclick="removeFilterValue({{filter.id}},'{{child.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                                <span class="selected-item">
                                  <span class="hidden-xs">{{filter_label}}</span>
                                  <strong>
                                    <span class="gf-label">{{child.label}}</span>
                                  </strong>
                                </span>
                                <span class="gf-clear"></span>
                              </a>
                            </div>
                          {% endcapture %}
                          {% assign selected_html = selected_html | append: selected_item_html %}
                        {% endif %}

                        <li{% if child.is_collapse %} class="is-collapsed"{% endif %} data-collection="{{child.value}}">
                          <div>
                          {% if filter.style == 'Checkbox' %}
                            <a {% if child.selected or child.value == collection_id %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{child.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{child.label | escape}}">
                              <span class="gf-Checkbox"></span>
                              <span class="gf-label">{{child.label | escape}}</span>
                              <span class="gf-count">({{child.count}})</span>                            </a>
                          {% elsif filter.style == 'Radio' %}
                            <a {% if child.selected or child.value == collection_id %} class="checked"{% endif %} onclick="toggleRadioFilter({{filter.id}},'{{child.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{child.label | escape}}">
                              <span class="gf-RadioButton"></span>
                              <span class="gf-label">{{child.label | escape}}</span>
                              <span class="gf-count">({{child.count}})</span>                            </a>
                          {% elsif filter.style == 'Collection' %}
                            <a {% if child.selected or child.value == collection_id %} class="checked"{% endif %} onclick="changeCollection('{{child.handle}}')" title="{{child.label | escape}}">
                              <span class="gf-label">{{child.label | escape}}</span>
                              <span class="gf-count">({{child.count}})</span>                            </a>
                          {% endif %}
                          {% if child.children %}<span></span>{% endif %}
                          </div>
                          {% if child.children %}
                            <ul{% if child.is_collapse %} style="display:none"{% endif %}>
                              {% for child2 in child.children %}

                                {% if child2.selected %}
                                  {% capture selected_item_html %}
                                    <div class="selected-item gf-option-label">
                                      <a onclick="removeFilterValue({{filter.id}},'{{child2.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                                        <span class="selected-item">
                                          <span class="hidden-xs">{{filter_label}}</span>
                                          <strong>
                                            <span class="gf-label">{{child2.label}}</span>
                                          </strong>
                                        </span>
                                        <span class="gf-clear"></span>
                                      </a>
                                    </div>
                                  {% endcapture %}
                                  {% assign selected_html = selected_html | append: selected_item_html %}
                                {% endif %}

                                <li data-collection="{{child2.value}}">
                                  <div>
                                  {% if filter.style == 'Checkbox' %}
                                    <a {% if child2.selected or child2.value == collection_id %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{child2.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{child2.label | escape}}">
                                      <span class="gf-Checkbox"></span>
                                      <span class="gf-label">{{child2.label | escape}}</span>
                                      <span class="gf-count">({{child2.count}})</span>                                    </a>
                                  {% elsif filter.style == 'Radio' %}
                                    <a {% if child2.selected or child2.value == collection_id %} class="checked"{% endif %} onclick="toggleRadioFilter({{filter.id}},'{{child2.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{child2.label | escape}}">
                                      <span class="gf-RadioButton"></span>
                                      <span class="gf-label">{{child2.label | escape}}</span>
                                      <span class="gf-count">({{child2.count}})</span>                                    </a>
                                  {% elsif filter.style == 'Collection' %}
                                    <a {% if child2.selected or child2.value == collection_id %} class="checked"{% endif %} onclick="changeCollection('{{child2.handle}}')" title="{{child2.label | escape}}">
                                      <span class="gf-label">{{child2.label | escape}}</span>
                                      <span class="gf-count">({{child2.count}})</span>                                    </a>
                                  {% endif %}
                                  {% if child2.children %}<span></span>{% endif %}
                                  </div>
                                  {% if child2.children %}
                                    <ul{% if child.is_collapse %} style="display:none"{% endif %}>
                                      {% for child3 in child2.children %}

                                        {% if child3.selected %}
                                          {% capture selected_item_html %}
                                            <div class="selected-item gf-option-label">
                                              <a onclick="removeFilterValue({{filter.id}},'{{child3.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                                                <span class="selected-item">
                                                  <span class="hidden-xs">{{filter_label}}</span>
                                                  <strong>
                                                    <span class="gf-label">{{child3.label}}</span>
                                                  </strong>
                                                </span>
                                                <span class="gf-clear"></span>
                                              </a>
                                            </div>
                                          {% endcapture %}
                                          {% assign selected_html = selected_html | append: selected_item_html %}
                                        {% endif %}

                                        <li data-collection="{{child3.value}}">
                                          {% if filter.style == 'Checkbox' %}
                                            <a {% if child3.selected or child3.value == collection_id %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{child3.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{child3.label | escape}}">
                                              <span class="gf-Checkbox"></span>
                                              <span class="gf-label">{{child3.label | escape}}</span>
                                              <span class="gf-count">({{child3.count}})</span>                                            </a>
                                          {% elsif filter.style == 'Radio' %}
                                            <a {% if child3.selected or child3.value == collection_id %} class="checked"{% endif %} onclick="toggleRadioFilter({{filter.id}},'{{child3.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{child3.label | escape}}">
                                              <span class="gf-RadioButton"></span>
                                              <span class="gf-label">{{child3.label | escape}}</span>
                                              <span class="gf-count">({{child3.count}})</span>                                            </a>
                                          {% elsif filter.style == 'Collection' %}
                                            <a {% if child3.selected or child3.value == collection_id %} class="checked"{% endif %} onclick="changeCollection('{{child3.handle}}')" title="{{child3.label | escape}}">
                                              <span class="gf-label">{{child3.label | escape}}</span>
                                              <span class="gf-count">({{child3.count}})</span>                                            </a>
                                          {% endif %}
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              {% else %}
                {% for value in filter.values %}

                {% if value.selected %}
                  {% capture selected_item_html %}
                    <div class="selected-item gf-option-label">
                      <a onclick="removeFilterValue({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                        <span class="selected-item">
                          <span class="hidden-xs">{{filter_label}}</span>
                          <strong>
                            <span class="gf-label">
                              {% if filter.attribute contains 'metafield:' and value.value contains 'https:' %}
                              <span class="gf-swatch-image" style="background-image: url('{{ value.value }}')"></span>
                              {% else %}
                              {{value.label}}
                              {% endif %}
                            </span>
                          </strong>
                        </span>
                        <span class="gf-clear"></span>
                      </a>
                    </div>
                  {% endcapture %}
                  {% assign selected_html = selected_html | append: selected_item_html %}
                {% endif %}

                <li>
                  <div>
                  {% if filter.style == 'Checkbox' %}
                    <a {% if value.selected or value.value == collection_id %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value.label | escape}}">
                      <span class="gf-Checkbox"></span>
                      <span class="gf-label">{{value.label | escape}}</span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  {% elsif filter.style == 'Radio' %}
                    <a {% if value.selected or value.value == collection_id %} class="checked"{% endif %} onclick="toggleRadioFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value.label | escape}}">
                      <span class="gf-RadioButton"></span>
                      <span class="gf-label">{{value.label | escape}}</span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  {% elsif filter.style == 'Collection' %}
                    <a {% if node.selected or value.value == collection_id %} class="checked"{% endif %} onclick="changeCollection('{{value.handle}}')" title="{{value.label | escape}}">
                      <span class="gf-label">{{value.label | escape}}</span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  {% endif %}
                  </div>
                </li>
                {% endfor %}
              {% endif %}
            {% else %}
              {% for value in filter.values %}
                {% if filter.attribute == 'Ready to ship' %}
                  {% assign value_label = ready_to_ship_label %}
                {% elsif filter.attribute == 'Availability' %}
                  {% if value.value == 1 %}
                    {% assign value_label = in_stock_label %}
                  {% elsif value.value == 0 %}
                    {% assign value_label = out_of_stock_label %}
                  {% endif %}
                {% else %}
                  {% assign value_label = value.label | escape %}
                {% endif %}

                {% if value.selected %}
                  {% capture selected_item_html %}
                    <div class="selected-item gf-option-label">
                      <a onclick="removeFilterValue({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')">
                        <span class="selected-item">
                          <span class="hidden-xs">{{filter_label}}</span>
                          <strong>
                            {% if filter.style == 'Rating' %}
                            <span class="gf-label gf-stars">
                              {% for star in (1..5) %}
                                {% if star <= value.value %}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.71 15.116l3.357-1.658.892.452 2.327 1.178-.56-3.912.708-.707 1.29-1.29-3.235-.576-.445-.915-1.059-2.176L8.4 8.683l-1.005.168-2.098.35 1.975 1.975-.141.99-.422 2.95zM5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                                {% endif %}
                              {% endfor %}
                            </span>
                            {% elsif filter.attribute contains 'metafield:' and value.value contains 'https:' %}
                              <span class="gf-swatch-image" style="background-image: url('{{ value.value }}')"></span>
                            {% else %}
                            <span class="gf-label">{{value_label}}</span>
                            {% endif %}
                          </strong>
                        </span>
                        <span class="gf-clear"></span>
                      </a>
                    </div>
                  {% endcapture %}
                  {% assign selected_html = selected_html | append: selected_item_html %}
                {% endif %}

                {% if filter.style == 'Checkbox' %}
                  <li>
                    <a{% if value.selected %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value_label}}">
                      <span class="gf-Checkbox"></span>
                      <span class="gf-label">{{value_label}}</span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  </li>
                {% elsif filter.style == 'Radio' %}
                  <li>
                    <a{% if value.selected %} class="checked"{% endif %} onclick="toggleRadioFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value_label}}">
                      <span class="gf-RadioButton"></span>
                      <span class="gf-label">{{value_label}}</span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  </li>
                {% elsif filter.style contains 'Box - Rectangle' %}
                  <li class="gf-box-rectangle">
                    <a{% if value.selected %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value_label}}">
                      <span class="gf-label">{{value_label}}</span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  </li>
                {% elsif filter.style == 'Rating' %}
                  <li>
                    <a{% if value.selected %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value_label}}">
                      <span class="gf-label gf-stars">
                        {% for star in (1..5) %}
                          {% if star <= value.value %}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                          {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M6.71 15.116l3.357-1.658.892.452 2.327 1.178-.56-3.912.708-.707 1.29-1.29-3.235-.576-.445-.915-1.059-2.176L8.4 8.683l-1.005.168-2.098.35 1.975 1.975-.141.99-.422 2.95zM5.2 18a.8.8 0 01-.792-.914l.743-5.203-2.917-2.917a.8.8 0 01.434-1.355l4.398-.733 2.218-4.435a.8.8 0 011.435.008l2.123 4.361 4.498.801a.8.8 0 01.425 1.353l-2.917 2.917.744 5.203a.8.8 0 01-1.154.828l-4.382-2.22-4.502 2.223A.792.792 0 015.2 18z" fill="#ff9800"/></svg>
                          {% endif %}
                        {% endfor %}
                      </span>
                      <span class="gf-count">({{value.count}})</span>                    </a>
                  </li>
                {% elsif filter.style contains 'Swatch' %}
                  {% assign attribute = filter.attribute | replace: 'option:', '' | downcase %}
                  {% assign value_handle = value.value | downcase %}
                  <li>
                    <a {% if value.selected %} class="checked"{% endif %} onclick="toggleCheckboxFilter({{filter.id}},'{{value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape}}')" title="{{value.label | escape}}">
                      {% if swatches[attribute] and swatches[attribute][value_handle] %}
                        {% if swatches[attribute][value_handle].mode == 1 %}
                          <span class="gf-option-one-color" style="background-color:{{ swatches[attribute][value_handle].color_1 }}"></span>{% if filter.style contains 'Swatch - Text' %} <span class="gf-label">{{value.label | escape}}</span>{% endif %}
                        {% elsif swatches[attribute][value_handle].mode == 2 %}
                          <span class="gf-option-two-color" style="background-color:{{ swatches[attribute][value_handle].color_1 }}"><span class="bottom-color" style="border-bottom-color:{{ swatches[attribute][value_handle].color_2 }}"></span></span>{% if filter.style contains 'Swatch - Text' %} <span class="gf-label">{{value.label | escape}}</span>{% endif %}
                        {% elsif swatches[attribute][value_handle].mode == 3 %}
                          <span class="gf-swatch-image" style="background-image: url('{{ swatches[attribute][value_handle].image }}');background-color: {{ value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape }}"></span>{% if filter.style contains 'Swatch - Text' %} <span class="gf-label">{{value.label | escape}}</span>{% endif %}
                        {% endif %}
                      {% else %}
                        {% assign value_handle = value.value | handle %}
                        {% assign value_jpg    = value_handle | append: '.jpg' %}
                        {% assign value_png    = value_handle | append: '.png' %}
                        {% assign value_jpeg   = value_handle | append: '.jpeg' %}
                        {% assign has_swatch   = false %}
                        {% capture background_image_css %}
                          {% if images contains value_jpg %}
                            {% assign has_swatch = true %}
                            background-image: url('{{ value_jpg | asset_img_url: '50x' | prepend: 'https:' }}');
                          {% elsif images contains value_png %}
                            {% assign has_swatch = true %}
                            background-image: url('{{ value_png | asset_img_url: '50x' | prepend: 'https:' }}');
                          {% elsif images contains value_jpeg %}
                            {% assign has_swatch = true %}
                            background-image: url('{{ value_jpeg | asset_img_url: '50x' | prepend: 'https:' }}');
                          {% elsif value.value contains 'https:' or value.value contains 'http:' %}
                            {% assign has_swatch = true %}
                            background-image: url('{{ value.value }}');  
                          {% endif %}
                          background-color: {{ value.value | replace:"\\", "\\\\" | replace:"\'", "\\\'" | escape }};
                        {% endcapture %}
                        {% if has_swatch %}
                        <span class="gf-swatch-image" style="{{background_image_css}}"></span>
                        {% if filter.style contains 'Swatch - Text' %} 
                          <span class="gf-label">{{value.label | escape}}</span>
                        {% endif %}
                        {% else %}
                        <span class="gf-option-value">{{value.label | escape}}</span>
                        {% endif %}
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if filter.style == 'Swatch' %}
              <li class="hidden-box"><a><span class="gf-swatch-image"></span></a></li>
              <li class="hidden-box"><a><span class="gf-swatch-image"></span></a></li>
              <li class="hidden-box"><a><span class="gf-swatch-image"></span></a></li>
              <li class="hidden-box"><a><span class="gf-swatch-image"></span></a></li>
              <li class="hidden-box"><a><span class="gf-swatch-image"></span></a></li>
              {% endif %}
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
        {% endfor %}
  {% endif %}
{% endcapture %}
<div class="globo-selected-items-wrapper">
  {% if has_filter %}
  <div class="gf-block-title hidden-xs">
    <div class="h3"><span>{{ translation.filter.filter_by | default: "Filter by"}}</span></div>
    <a onclick="clearAllFilter()" class="gf-refine-toggle hidden-xs">{{ translation.filter.clear_all | default: "Clear all"}}</a>
  </div>
  <div class="gf-block-content globo-selected-items">
    <button onclick="clearAllFilter()" class="clear-refinements visible-xs">{{ translation.filter.clear_all | default: "Clear all"}}</button>
    {{selected_html}}
  </div>
  {% endif %}
</div>
<div class="gf-filter-contents">
  {{filter_tree_html}}
</div>

<div class="gf-filter-footer">
  {% assign plurality = translation.search.products | default: "Products" %}
  {% assign singular = translation.search.product | default: "Product" %}
  <button type="button" onclick="globofilter.toggleCanvas()">{{ translation.filter.view | default: "View"}} <b>{{pagination.total}}</b> {{pagination.total | pluralize: singular, plurality}}</button>
</div>
{% endraw %}
