<!-- cart main area start -->
<div id="checkout-cart" class="container">
  {% include 'breadcrumb' %}
  <div class="row">
    <div id="content" class="col-sm-12">
      <h1>{{ 'cart.general.title' | t }}</h1>
      {% if cart.item_count > 0 %}
      <form action="/checkout" method="post" id="cart_form">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ 'cart.general.heading_image' | t }}</td>
                <td class="text-center">{{ 'cart.general.heading_product_name' | t }}</td>
                <td class="text-center">{{ 'cart.general.heading_quantity' | t }}</td>
                <td class="text-center">{{ 'cart.general.heading_unit_price' | t }}</td>
                <td class="text-center">{{ 'cart.general.heading_total' | t }}</td>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.items %}
              <tr data-line="{{ forloop.index }}">
                <td class="text-center">
                  <a href="{{ item.url }}">
                    <img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" title="{{ item.title | escape }}" class="img-thumbnail" />
                  </a>
                </td>
                <td class="text-center">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                  {% unless item.variant.title contains 'Default' %}
                  <br />
                  <small>{{ item.variant.title }}</small>
                  {% endunless %}

                  {% if settings.product_quantity_message and item.variant.inventory_management and item.variant.inventory_quantity <= 0 and item.variant.incoming %}
                  {% assign date = item.variant.next_incoming_date | date: format: 'month_day_year' %}
                  <br />
                  <small>{{ 'products.product.will_not_ship_until' | t: date: date }}</small>
                  {% endif %}

                  {% assign property_size = item.properties | size %}
                  {% if property_size > 0 %}
                  {% for p in item.properties %}
                  {% if forloop.first %}<br>{% endif %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                  {{ p.last }}
                  {% endif %}

                  <br>
                  {% endunless %}
                  {% endfor %}
                  {% endif %}
                </td>
                <td class="text-left">
                  <div class="input-group btn-block" style="max-width: 200px;">
                    <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" class="form-control" data-line="{{ forloop.index }}">
                    <span class="input-group-btn">
                      <button type="submit" data-toggle="tooltip" title="{{ 'cart.general.update' | t }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                      <button type="button" data-toggle="tooltip" title="{{ 'cart.general.remove' | t }}" class="btn btn-danger" onclick="location.href='/cart/change?line={{ forloop.index }}&amp;quantity=0'"><i class="fa fa-times-circle"></i></button>
                    </span>
                  </div>
                </td>
                <td class="text-right">{{ item.price | money }}</td>
                <td class="text-right">{{ item.line_price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="panel-group" id="accordion">
          {% if settings.cart_notes_enable %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ 'cart.general.note' | t }} <i class="fa fa-caret-down"></i></a></h4>
            </div>
            <div id="collapse-coupon" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-sm-12">
                  <textarea class="form-control" rows="6" name="note" id="cartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% include 'shipping-calculator' %}
          {% if settings.cart_notes_enable %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapse-discount" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ 'cart.general.coupon' | t }} <i class="fa fa-caret-down"></i></a></h4>
            </div>
            <div id="collapse-discount" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-sm-12">
                  <input class="form-control" name="discount" id="discount" placeholder="50fifty">
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
              <tr>
                <td colspan="2" class="text-center"><strong>{{ 'cart.general.taxes_extra' | t }}</strong></td>
              </tr>
              {% if cart.total_discounts > 0 %}
              {% assign savings = cart.total_discounts | money %}
              <tr>
                <td class="text-right"><strong>{{ 'cart.general.discount' | t }}:</strong></td>
                <td class="text-right"><span class="total-price">{{ 'cart.general.savings_html' | t: price: savings }}</span></td>
              </tr>
              {% endif %}
              <tr>
                <td class="text-right"><strong>{{ 'cart.general.subtotal' | t }}:</strong></td>
                <td class="text-right"><span class="total-price">{{ cart.total_price | money }}</span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="buttons clearfix">
          <div class="pull-left">
            <a href="/" class="btn btn-warning">{{ 'cart.general.continue_shopping' | t }}</a>
          </div>
          {% if additional_checkout_buttons %}
          <div class="pull-right">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
          <div class="pull-right">
            <a onclick="document.getElementById('cart_form').submit(); return false;" class="btn btn-primary">{{ 'cart.general.proceed_checkout' | t }}</a>
          </div>
        </div>
      </form>
      {% else %}
      <h1 class="page-heading">{{ 'cart.general.empty' | t }}</h1>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% unless settings.shipping_calculator == 'Disabled' %}
<script>
  window.theme = window.theme || {};
  theme.strings = {
    shippingCalcSubmitButton: {{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' | json }},
    shippingCalcSubmitButtonDisabled: {{ settings.shipping_calculator_submit_button_label_disabled | default: 'Calculating...' | json }},
    {% if customer %}shippingCalcCustomerIsLoggedIn: true,{% endif %}
    shippingCalcMoneyFormat: {{ shop.money_with_currency_format | json }}
  }
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
<script src="/services/javascripts/countries.js"></script>
<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
{{ 'shipping-cart.js' | asset_url | script_tag }}

<script>
  Shopify.Cart.ShippingCalculator.show( {
    submitButton: theme.strings.shippingCalcSubmitButton,
    submitButtonDisabled: theme.strings.shippingCalcSubmitButtonDisabled,
    customerIsLoggedIn: theme.strings.shippingCalcCustomerIsLoggedIn,
    moneyFormat: theme.strings.shippingCalcMoneyFormat                                     
  } );
</script>
{% endunless %}