<!-- Slide1 -->
<section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      <div class="item-slick1 item{{forloop.index}}-slick1" {% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: '1920x570' }});"{% endif %}>
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          {% if block.settings.heading != blank %}  
          <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="{{ block.settings.heading_appear }}">
            {{ block.settings.heading }}
          </span>
          {% endif %}
          {% if block.settings.subheading != blank %}  
          <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="{{ block.settings.subheading_appear }}">
            {{ block.settings.subheading }}
          </h2>
          {% endif %}
          {% if block.settings.slide_link_text != blank %} 
          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="{{ block.settings.slide_appear }}">
            <!-- Button -->
            <a href="{{ block.settings.slide_link }}" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
              {{ block.settings.slide_link_text }}
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>