{% include 'breadcrumb' %}
<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12 contact-form">
      <h3>{{ 'customer.account.title' | t }}</h3>

      <div class="grid">

        <div class="grid-item two-thirds medium-down--one-whole">
          <h3>{{ 'customer.orders.title' | t }}</h3>

          {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center">{{ 'customer.orders.order_number' | t }}</th>
                <th class="text-center">{{ 'customer.orders.date' | t }}</th>
                <th class="text-center">{{ 'customer.orders.payment_status' | t }}</th>
                <th class="text-center">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th class="text-center">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
              <tr>
                <td class="text-center">{{ order.name | link_to: order.customer_url }}</td>
                <td class="text-center">{{ order.created_at | date: format: 'month_day_year' }}</td>
                <td class="text-center">{{ order.financial_status_label }}</td>
                <td class="text-center">{{ order.fulfillment_status_label }}</td>
                <td class="text-center">{{ order.total_price | money }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}

          <p>{{ 'customer.orders.none' | t }}</p>

          {% endif %}

          {% if paginate.pages > 1 %}
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}
          {% endpaginate %}
        </div>

        <div class="grid-item one-third medium-down--one-whole">
          <h3>{{ 'customer.account.details' | t }}</h3>

          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <td class="text-left">
                  <h5>{{ customer.name }}</h5>

                  {% if customer.default_address != nil %}
                  <p>
                    {{ customer.default_address.address1 }}<br>

                    {% if customer.default_address.address2 != "" %}
                    {{ customer.default_address.address2 }}<br>
                    {% endif %}

                    {% if customer.default_address.city != "" %}
                    {{ customer.default_address.city }}<br>
                    {% endif %}

                    {% if customer.default_address.province_code != "" %}
                    {{ customer.default_address.province_code | upcase }}<br>
                    {% endif %}

                    {% if customer.default_address.zip != "" %}
                    {{ customer.default_address.zip | upcase }}<br>
                    {% endif %}

                    {% if customer.default_address.country != "" %}
                    {{ customer.default_address.country }}<br>
                    {% endif %}

                    {% if customer.default_address.phone != "" %}
                    {{ customer.default_address.phone }}
                    {% endif %}

                  </p>

                  {% endif %}
                </td>
                <td class="text-right">
                  <p>
                    <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
                  </p>

              </tr>
            </tbody>
          </table>

        </div>

		<p>{{ 'customer.login.already_logged_in' | t }} {{ customer.email }}.</p>
		<p><a href="/account/logout">{{ 'customer.login.logout' | t }} ?</a></p>

      </div>
    </div>
  </div>
</div>