{% include 'breadcrumb' %}
<div class="container">
  <div class="row">
    <div id="content" class="col-sm-12 contact-form">
      {% form 'reset_customer_password' %}

      <h1>{{ 'customer.reset_password.title' | t }}</h1>

      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% include 'form-errors-custom' %}
      <div class="form-horizontal contact-form">

        <div class="form-group">
          <label class="col-sm-2 control-label" for="reset_password">{{ 'customer.reset_password.password' | t }}</label>
          <div class="col-sm-4">
            <input type="password" value="" name="customer[password]" id="reset_password" class="form-control{% if form.errors contains "password" %} error{% endif %}">
          </div>
          <label class="col-sm-2 control-label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <div class="col-sm-4">
            <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" class="form-control{% if form.errors contains "password_confirmation" %} error{% endif %}">
          </div>
        </div>

        <div class="form-group">
          <div class="text-center">
            <div class="buttons clearfix">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endform %}
    </div>
  </div>
</div>